.avatar{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-image: url("https://i.mycdn.me/image?id=772267870131&plc=WEB&tkn=*YSv40wtA0PU_n9BjX5eRU0l7sLE&fn=sqr_288");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-top: -75px;
}