header{
  height: 250px;
  background-image: url("https://image.freepik.com/free-vector/_52683-31305.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  border-radius: 5px;
}