nav{
  font-size: 21px;
  margin-top: 10px;
  background-color: #1e2745;
  border-radius: 5px;
  display: flex;
  .link{
    width: 33.33%;
    text-align: center;
    transition: .5s;
    padding: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    color: #85848e;
    &:hover{
      color: #50b5ff;
    }
    &.active{
      background-color: #50b5ff;
      color: #fff;
    }
  }
}